---

---

<style>
  .close-x {
    background-color: #e9ebf0;
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    transition:
      background-color 0.3s,
      transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-x:hover {
    background-color: #ccd0da;
    transform: scale(1.05);
  }

  .bi-x {
    font-size: 40px;
    color: #000;
  }
</style>

<button id="close-login" class="close-x">
  <i class="bi bi-x"></i>
</button>
