---
import "../styles/main.css";
---

<div class="main-div-stream">
  <div class="container">
    <div class="row">
      <div
        class="d-none d-sm-none d-md-block col-md-12 col-lg-12 col-xl-12 col-xxl-12"
      >
        <a
          class="main-steam-a"
          href="https://www.disneyplus.com/series/x-men-97/vc1XIz90ZNH5?cid=DTCI-Synergy-Marvel-Site-Acquisition-Originals-US-Marvel-XMEN97-EN-NavPipe-Marvel_NavPipe_XMEN97-NA"
        >
          STREAM X-MEN '97 EXCLUSIVELY ON <img
            class="main-stream-a-img"
            src="https://cdn.marvel.com/content/2x/disneybtn_asset2x_2024.png"
            alt="Disnep"
          />
        </a>
      </div>
      <div
        class="d-md-none d-lg-none d-xl-none d-xxl-none d-lg-block col-xs-12 col-sm-12"
      >
        <a
          class="main-steam-a-small"
          href="https://www.disneyplus.com/series/x-men-97/vc1XIz90ZNH5?cid=DTCI-Synergy-Marvel-Site-Acquisition-Originals-US-Marvel-XMEN97-EN-NavPipe-Marvel_NavPipe_XMEN97-NA"
        >
          STREAM X-MEN '97 ON <img
            class="main-stream-a-img-small"
            src="https://cdn.marvel.com/content/2x/disneybtn_asset2x_2024.png"
            alt="Disnep"
          />
        </a>
      </div>
    </div>
  </div>
</div>
