---

---

<footer>
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="d-none d-sm-none d-md-block col-2">
          <img class="mlogof" src="./assets/images/mlogof.svg" alt="mlogo" />
        </div>
        <div class="d-none d-sm-none d-md-block col-2">
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">ABOUT MARVEL</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">HELP/FAQSL</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">CAREERS</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">INTERSHIPS</a>
            </div>
          </div>
        </div>
        <div class="d-none d-sm-none d-md-block col-2">
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">ADVERTISING</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">DISNEY+</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">MARVELHQ.COM</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">REDEEM DIGITAK Comics</a>
            </div>
          </div>
        </div>
        <div class="d-none d-sm-none d-md-block col-4">
          <a class="a-marvel-unlimited-footer" href="#">
            <div class="row">
              <div class="col-4">
                <div class="div-marvel-insider-logo">
                  <img
                    class="marvel-insider-logo"
                    src="https://cdn.marvel.com/content/1x/marvel_insider-topnav-logo-large2x.png"
                    alt="marvel-insider-logo"
                  />
                </div>
              </div>
              <div class="col-8">
                <h4 class="h4-tittlef">MARVEL INSIDER</h4>
                <p class="p-footer">Get Rewarded for Being a Marvel Fan</p>
              </div>
            </div>
          </a>
          <a class="a-marvel-unlimited-footer" href="#">
            <div class="row">
              <div class="col-4">
                <img
                  class="marvel-u-logo"
                  src="https://cdn.marvel.com/content/1x/mu-logo-w-nav-2x-2021-02.png"
                  alt="marvel-u-logo"
                />
              </div>
              <div class="col-8">
                <h4 class="h4-tittlef">MARVEL UNLIMITED</h4>
                <p class="p-footer">Access Over 30,000+ Digital Comics</p>
              </div>
            </div>
          </a>
        </div>
        <div class="d-none d-sm-none d-md-block col-2">
          <div class="row">
            <div class="col">
              <h4 class="h4-tittlef">FOLLOW MARVEL</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <a href="#">
                <img
                  src="./assets/images/facebook-logo.svg"
                  alt="facebook-logo"
                />
              </a>
            </div>
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/x-logo.svg" alt="x-logo" />
              </a>
            </div>
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/ig-logo.svg" alt="ig-logo" />
              </a>
            </div>
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/t-logo.svg" alt="t-logo" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/yt-logo.svg" alt="YouTube-logo" />
              </a>
            </div>
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/sc-logo.svg" alt="SnapChat-logo" />
              </a>
            </div>
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/p-logo.svg" alt="pinterest-logo" />
              </a>
            </div>
            <div class="col-3">
              <a href="#">
                <img src="./assets/images/tw-logo.svg" alt="twitch-logo" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#">
                <img src="./assets/images/tik-logo.svg" alt="tik-logo" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="ul-footer">
            <li class="li-footer">
              <a class="a-ul-footer" href="#">Terms of use</a>
            </li>
            <li class="li-footer">
              <a class="a-ul-footer" href="#">Privacy Policy</a>
            </li>
            <li class="li-footer">
              <a class="a-ul-footer" href="#">Your US State Privacy Rights</a>
            </li>
            <li class="li-footer">
              <a class="a-ul-footer" href="#"
                >Children's Online Privacy Policy</a
              >
            </li>
            <li class="li-footer">
              <a class="a-ul-footer" href="#">License Agreement</a>
            </li>
            <li class="li-footer">
              <a class="a-ul-footer" href="#">Interest-Based Ads</a>
            </li>
            <li class="li-footer">
              <a class="a-ul-footer" href="#">Marvel Insider Terms</a>
            </li>
            <li class="li-footer">
              <span>© 2024 MARVEL</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-small">
      <div class="row">
        <div class="col d-flex justify-content-center d-block d-sm-none">
          <img class="mlogof" src="./assets/images/mlogof.svg" alt="mlogo" />
        </div>
      </div>
      <div class="row">
        <div class="col-2 d-flex justify-content-start d-none d-sm-block">
          <img class="mlogof" src="./assets/images/mlogof.svg" alt="mlogo" />
        </div>
        <div class="col-6 d-block d-sm-none justify-content-center">
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">ABOUT MARVEL</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">HELP/FAQSL</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">CAREERS</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">INTERSHIPS</a>
            </div>
          </div>
        </div>
        <div class="col-6 d-block d-sm-none justify-content-center">
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">ADVERTISING</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">DISNEY+</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">MARVELHQ.COM</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">REDEEM DIGITAK Comics</a>
            </div>
          </div>
        </div>
        <div class="col-5 d-none d-sm-block">
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">ABOUT MARVEL</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">HELP/FAQSL</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">CAREERS</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="fcaf" href="#">INTERSHIPS</a>
            </div>
          </div>
        </div>
        <div class="col-5 d-none d-sm-block">
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">ADVERTISING</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">DISNEY+</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">MARVELHQ.COM</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="scaf" href="#">REDEEM DIGITAK Comics</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-small-2">
      <div class="row">
        <div class="col-2 d-block d-sm-none">
          <img
            class="logos-small"
            src="https://cdn.marvel.com/content/1x/marvel_insider-topnav-logo-large2x.png"
            alt="marvel-insider-logo"
          />
        </div>
        <div class="col-10 d-block d-sm-none">
          <h4 class="h4-footer-small">MARVEL INSIDER</h4>
          <p class="p-footer-small">Get Rewarded for Being a Marvel Fan</p>
        </div>

        <div class="col-2 d-none d-sm-block">
          <img
            class="logos-small"
            src="https://cdn.marvel.com/content/1x/marvel_insider-topnav-logo-large2x.png"
            alt="marvel-insider-logo"
          />
        </div>
        <div class="col-4 d-none d-sm-block">
          <h4 class="h4-footer-small">MARVEL INSIDER</h4>
          <p class="p-footer-small">Get Rewarded for Being a Marvel Fan</p>
        </div>
        <div class="col-2 d-none d-sm-block">
          <img
            class="logos-small"
            src="https://cdn.marvel.com/content/1x/mu-logo-w-nav-2x-2021-02.png"
            alt="marvel-insider-logo"
          />
        </div>
        <div class="col-4 d-none d-sm-block">
          <h4 class="h4-footer-small">MARVEL UNLIMITED</h4>
          <p class="p-footer-small">Access Over 30,000+ Digital Comics</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 d-block d-sm-none">
          <img
            class="logos-small"
            src="https://cdn.marvel.com/content/1x/mu-logo-w-nav-2x-2021-02.png"
            alt="marvel-insider-logo"
          />
        </div>
        <div class="col-10 d-block d-sm-none">
          <h4 class="h4-footer-small">MARVEL UNLIMITED</h4>
          <p class="p-footer-small">Access Over 30,000+ Digital Comics</p>
        </div>
      </div>
    </div>
    <div class="footer-small-3">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <h4 class="h4-footer-small-3">FOLLOW MARVEL</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul
            class="ul-footer-small-3 d-flex justify-content-start justify-content-between"
          >
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/facebook-logo.svg"
                  alt="facebook-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/x-logo.svg"
                  alt="x-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/ig-logo.svg"
                  alt="ig-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="11"
                  height="18"
                  viewBox="0 0 11 18"
                  ><path
                    fill="#767676"
                    fill-rule="evenodd"
                    d="M8.535 14.5c-1.532.038-1.83-1-1.842-1.751V7.217h3.844v-2.69h-3.83V0H3.904a.147.147 0 00-.138.133C3.602 1.518 2.904 3.949 0 4.922v2.295h1.937v5.806c0 1.988 1.58 4.812 5.749 4.745 1.407-.022 2.969-.569 3.314-1.04l-.92-2.535c-.356.158-1.037.295-1.545.307z"
                  ></path></svg
                >
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/yt-logo.svg"
                  alt="YouTube-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/sc-logo.svg"
                  alt="SnapChat-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/p-logo.svg"
                  alt="pinterest-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/tw-logo.svg"
                  alt="twitch-logo"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  class="img-footer-small-3"
                  src="./assets/images/tik-logo.svg"
                  alt="tik-logo"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
