---

---

<style>
  .a-login {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }

  .bi-person-circle {
    color: #fff;
    margin-right: 5px;
  }
</style>

<div class="d-none d-lg-block">
  <i class="bi bi-person-circle fs-5"></i>
  <a class="a-login mb-3">LOG IN</a>
</div>

<slot />

<div class="d-none d-lg-block">
  <a class="a-login">SIGN UP</a>
</div>
