---

---

<style>
  #login-modal {
    width: 100%;
    height: 100dvh;
  }
</style>

<dialog id="login-modal" open="">
  <h1>Bienvenido</h1>
  <button id="close-modal">X</button>
</dialog>

<script>
  const modal = document.querySelectorAll("login-modal");
  const closeModalBtn = document.querySelectorAll("close-modal");

  
</script>
