---

---

<style>
  nav {
    height: 52px;
    background-color: #202020;
  }
</style>

<nav>
  <div class="conatiner">
    <div class="row">
      <div class="col">
        <ul>
          <li>
            <a href="#"> NEWS </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
