---

---

<style>
  .div-search {
    height: 52px;
  }
  .bi-list {
    background-color: #fff;
  }
</style>

<div class="d-flex align-items-center justify-content-center">
  <i class="bi bi-search text-white fs-3"></i>
</div>
