---

---

<style>
  .div-search {
    height: 52px;
  }

  .bi-list {
    background-color: #fff;
  }

  a {
    cursor: pointer;
  }
</style>

<div class="d-flex align-items-center justify-content-center">
  <a href="https://www.marvel.com/search"
    ><i class="bi bi-search text-white fs-3"></i></a
  >
</div>
