---
import "../styles/main.css";
---

<div class="main-div-background">
  <div class="container d-none d-sm-none d-md-block">
    <div class="row">
      <div class="col">
        <img
          class="marvel-inifiny-logo"
          src="https://s3.amazonaws.com/com.marvel.terrigen/prod/1200x1200-logotagline-onblack.png"
          alt="marvel-inifiny-logo"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="main-div-background-h2">
          READ FREE DEADPOOL & <br />WOLVERINE COMICS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="main-div-background-p">
          Celebrate the release of Marvel Studios' 'Deadpool & Wolverine' with
          an Infinity Comics takeover. Read over 50 issues featuring the best
          buds for free!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="main-div-background-a" href="#">
          <button class="main-div-background-btn"> READ NOW </button>
        </a>
      </div>
    </div>
  </div>
  <div class="main-div-background-tbs">
    <div class="tbs-1 container">
      <div class="row">
        <div class="col d-flex justify-content-end">
          <ul class="main-div-background-tbs-ul">
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/facebook-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/x-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/ig-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/tw-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/tik-logo.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tbs-1 main-div-background-tbs-1">
      <a class="main-div-background-tbs-1-a" href="#">
        Free Deadpool <br /> & Wolverine Comics
      </a>
    </div>

    <div class="tbs-2 container">
      <div class="row">
        <div
          class="d-none d-sm-none d-md-block col-8 d-flex justify-content-center"
        >
          <a class="main-div-background-tbs-1-a" href="#">
            Free Deadpool <br /> & Wolverine Comics
          </a>
        </div>
        <div
          class="d-none d-sm-none d-md-block col-4 d-flex justify-content-end"
        >
          <ul class="main-div-background-tbs-ul">
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/facebook-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/x-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/ig-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/tw-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/tik-logo.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-div-background-md">
  <div class="main-div-background-md-background"></div>
  <div class="container main-div-background-md-container">
    <div class="row">
      <div class="col">
        <img
          class="marvel-inifiny-logo"
          src="https://s3.amazonaws.com/com.marvel.terrigen/prod/1200x1200-logotagline-onblack.png"
          alt="marvel-inifiny-logo"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="main-div-background-md-h4">
          READ FREE DEADPOOL & WOLVERINE COMICS
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="main-div-background-md-p">
          Celebrate the release of Marvel Studios' 'Deadpool & Wolverine' with
          an Infinity Comics takeover. Read over 50 issues featuring the best
          buds for free!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="main-div-background-btn"> READ NOW </button>
      </div>
    </div>
  </div>
  <div class="main-div-background-md-tbs-2">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <h4 class="main-div-background-md-tbs-2-h4">FOLLOW</h4>
        </div>
        <div class="col d-flex justify-content-end">
          <ul class="main-div-background-tbs-2-ul">
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/facebook-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/x-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/ig-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/tw-logo.svg"
                alt=""
              />
            </li>
            <li>
              <img
                class="main-div-background-tbs-imgs"
                src="./assets/images/tik-logo.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
