---
import MiniLogoComponent from "./MiniLogoComponent.astro";
---

<div class="row align-items-center" style="height: 52px;">
  <div class="col flex-grow-1 d-flex align-items-center justify-content-center">
    <a
      href="/unlimited"
      class="d-flex align-items-center text-decoration-none text-white"
    >
      <MiniLogoComponent />
      <div class="ms-2 text-center">
        <div>MARVEL UNLIMITED</div>
        <div>SUBSCRIBE</div>
      </div>
    </a>
  </div>

  <div class="col-auto search">
    <a href="/search" class="text-white"> 🔍 </a>
  </div>
</div>
